{
  "root": true,
  "extends": [
    "blvd/react",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["prettier"],
  "rules": {
    "no-console": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }
    ],
    "import/no-unresolved": "off",
    "prettier/prettier": "error",
    "react/jsx-props-no-spreading": "off"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
