---
import { IconChart, IconDollarSign, IconStar } from '~/components/icons';
import BottomBarEventBox from './event-box.astro';
---

<div class="flex flex-row items-center pl-12 pr-4 text-chungking-white">
  <BottomBarEventBox icon={IconDollarSign} />
  <BottomBarEventBox icon={IconStar} />
  <BottomBarEventBox icon={IconChart} />
</div>
