@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --background-default: #fff;
  --background-follow: #fff;
  --background-raid: #ff369a;
  --background-bits: #9b45ff;
  --background-host: #0076ff;
  --background-donation: #00ffcd;
  --background-sub: #f5a623;
  --background-streamlabs-prime: #caa368;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

html,
body {
  font-family: 'Lato', system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.45;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.widget-AlertBox {
  position: relative;
}

#alert-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: flex-end;
}

#alert-box.hidden,
.hidden {
  opacity: 0;
}

#wrap {
  display: block;
  width: 100%;
  height: 56px;
}

.ck-alert-wrapper {
  display: block;
  width: 100%;
  height: 56px;
  position: relative;
}

.ck-alert {
  display: flex;
  align-items: center;
  width: 100%;
  height: 56px;
  overflow: hidden;
}
.ck-alert--saweria {
  font-family: 'Inter', system-ui, sans-serif;
}

.ck-alert__header {
  display: flex;
  align-items: center;
  height: 56px;
  padding-left: 48px;
  padding-right: 24px;
}

.ck-alert--streamlabs-prime {
  background-color: var(--background-streamlabs-prime);
  color: #fff;
}

.ck-alert--raid {
  background-color: var(--background-raid);
  color: #fff;
}

.ck-alert--cheer {
  background-color: var(--background-bits);
  color: #fff;
}

.ck-alert--host {
  background-color: var(--background-host);
  color: #fff;
}

.ck-alert--donation {
  background-color: var(--background-donation);
  color: #16161d;
}

.ck-alert--follow {
  background-color: var(--background-follow);
  color: #16161d;
}

.ck-alert--sub {
  background-color: var(--background-sub);
  color: #16161d;
}

.ck-alert__header h2 {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.ck-alert-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: left;
}
.ck-alert-text:last-child {
  flex: 1 1 auto;
  padding-right: 48px;
}
.ck-alert-text:last-child,
.ck-alert-text:last-child > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ck-alert-text:not(:last-child) {
  flex: none;
}

.ck-alert-text__inner {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

#alert-message,
#alert-user-message {
  text-align: left;
}
#alert-user-message img {
  vertical-align: middle;
  height: 1em;
}
#alert-message > span > span {
  display: inline-block;
}
