<div class="ck-alert-wrapper">
  <div class="ck-alert ck-alert--raid">
    <div class="ck-alert__header">
      <h2>Raid</h2>
    </div>

    <!-- main alert box window -->
    <div class="ck-alert-text">
      <!-- alert text -->
      <div id="alert-text" class="ck-alert-text__inner">
        <!-- alert message -->
        <!-- messageTemplate will be replaced with your message template -->
        <!-- for example : {name} is now following! or {name} donated {amount} -->
        <div id="alert-message">{messageTemplate}</div>
      </div>
    </div>
  </div>
</div>
