<div class="ck-alert-wrapper">
  <div class="ck-alert-wrapper__inner">
    <!-- alert image -->
    <div class="ck-alert-image">
      <div id="alert-image" class="ck-alert-image__inner">{img}</div>
    </div>

    <div class="ck-alert ck-alert--raid">
      <div class="ck-alert__header">
        <h2>OH HECK WE GOT RAIDED???</h2>
      </div>

      <!-- main alert box window -->
      <div class="ck-alert-text">
        <!-- alert text -->
        <div id="alert-text" class="ck-alert-text__inner">
          <!-- alert message -->
          <!-- messageTemplate will be replaced with your message template -->
          <!-- for example : {name} is now following! or {name} donated {amount} -->
          <div id="alert-message">{messageTemplate}</div>
          <div id="alert-user-message">{userMessage}</div>
        </div>
      </div>
    </div>
  </div>
</div>
