---
import OverlayWrapper from '~/components/overlay-wrapper/index.astro';
import { parseString } from '~/lib/query-parser';
import {
  StudioClockInterface,
  type StudioClockInterfaceProps,
} from './components/studio-clock-interface';
import Document from '../_document.astro';

type Props = {
  isFullScreen?: boolean;
};

const { searchParams } = Astro.url;
const { isFullScreen } = Astro.props;

const clockProps: StudioClockInterfaceProps = {
  uiFont: parseString(searchParams.get('uiFont')),
  watchFaceFont: parseString(searchParams.get('watchFaceFont')),
  watchFaceColor: parseString(searchParams.get('watchFaceColor')),
};
---

<Document>
  <OverlayWrapper>
    <div
      class:list={[
        ...(isFullScreen
          ? ['flex w-full h-screen items-center justify-center bg-chungking-black']
          : []),
      ]}
    >
      <div class:list={[...(isFullScreen ? ['scale-50'] : [])]}>
        <StudioClockInterface hideTimezone={isFullScreen} {...clockProps} client:only="react">
          <slot name="fallback">
            <StudioClockInterface hideTimezone={isFullScreen} {...clockProps} />
          </slot>
        </StudioClockInterface>
      </div>
    </div>
  </OverlayWrapper>
</Document>
