.sceneGrid {
  display: grid;
  gap: 28px;
  grid-template-columns: 1140px 560px;
  grid-template-rows: 641px 166px;
}

.gameWidget {
  background-color: #0f0;
}

.standingsWidget {
  @apply flex items-start justify-center p-3 bg-black text-white;
  font-family: Montserrat, sans-serif;
}

.freeformTextWidget {
  background-color: #12124c;
}

.countdownWidget {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b12c34;
}
